* {
    font-family: Artial, Verdana, sans-serif;
}

.table {
    width: 100%;
}

.table td {
    padding: 5px;
}

.table thead td {
    background-color: #4c8abd;
    color: white;
    width: 100%;
}

.table thead tr td:first-child {
    width: 50%;
}

.table thead tr td:first-child + td {
    width: 50%;
}

.panel {
    width: 33%;
    margin: auto;
}

.panel h1 {
    font-size: 64pt;
    font-weight: bold;
    color: white;
    font-family: Arial;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #4c8abd;

    text-align: center;
}

.odd {
    background-color: #cfd9e7;
}

.event {
    background-color: #e8edf3;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: orange;
}